/* general */
body{
    background: url(img/bg.jpg) no-repeat , #ffffff;
    background-size: cover;
    background-position: center;
    height: fit-content;
}

ul li {
    list-style: none;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: -0.5em -0.5em 0em 0em;
    float: right;
    background-color: #7fffd400;
    border: #00ffff00;
}

.btn-danger:hover {
    color: #e6360c;
    background-color: #9a9a9a7a;
    border-color: #ac292500;
    border-radius: 20%;
}

input{
    margin-bottom: 0.5em;
}

/*map*/
#map {
    height: 500px;
    width: 100%;
    top: 2em;
    border-radius: 1em 0em;
}

.map-marker-txts{
    background: #ececec;
    font-size:larger;
    padding:1em;
    color: #1f0e0e;
    border-radius:0.5em 0;
}

.map-marker-txts .person-name{
    font-size:1.6em;
}

h4.map-press {
    position: absolute;
    background: #6b6b6bed;
    border-radius: 2em;
    padding: 0.5em 1.5em 2em 1.5em;
    /* z-index: 1; */
    color: white;
    /* margin: 0 auto; */
    right: 32%;
    top: -3%;
}

/*adding post form*/
.post-form {
    background: rgba(240, 255, 255, 0.74);
    padding: 1em;
    border-radius: 1em 0;
    display: none;
}

.posts-container {
    top: -25em;
    width: 20em;
    margin: 0 auto;
    position: relative;
}

.col-sm-9, .col-md-9{
    height: -webkit-fill-available;
    position: relative;
}

/*post div*/
.posts {
     max-height: 22em;
     padding: 1em;
     overflow: auto;
     /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

/* general */

.page-header img {
    margin: 0 auto;
    display: block;
}

.page-header {
    margin: 2em auto;
    display: block;
}

.row {
    min-height: 39em;
    background: #ffffff42;
    height: 39em;
    border-radius: 1.5em 0em;
    margin-top: 2em;
    display: block;
}

.close-form {
    float: right;
}

/*post*/
.post {
    position: relative;
    background: #ffffff66;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.remove-post {
    position: absolute;
    right: 1em;
    top: 1em;
    /* padding-top: 0.5em; */
    color: #e6360c;
    font-weight: bold;
}

.person-text {
    width: 80%;
    font-size: 1.2em;
    color: #252525;
    font-style: oblique;
}

.person-name {
    font-weight: bold;
    font-size: 1.2em;
}

.map-press{
    display: none;
}

h4 {
    text-align: center;
    color: #000980;
    font-size: 1.3em;
}


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.show{
    display: block;
}