/* general */
body{
    background: url(img/bg.JPG) no-repeat , #ffffff;
    background-size: cover;
    background-position: center;
}

ul li {
    list-style: none;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}

/*map*/
#map {
    height: 500px;
    width: 100%;
    top: 3em;
}

.map-marker-txts{
    background: #595f53;
    font-size:larger;
    padding:1em;
    color:white;
    border-radius:0.5em 0;
}

.map-marker-txts .person-name{
    font-size:1.6em;
}



/*adding post form*/
.post-form {
    width: 50%;
    position: absolute;
    background: rgba(240, 255, 255, 0.51);
    top: -24em;
    right: 7em;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em 0;
    display: none;
    transition: all 1s;
}

/*post div*/
.posts {
    max-height: 26em;
    overflow-y: scroll;
}

/* general */

.show{
    display: block;
}
