/* general */
body{
    background: url(img/bg.jpg) no-repeat , #ffffff;
    background-size: cover;
    background-position: center;
}

ul li {
    list-style: none;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: -0.5em -0.5em 0em 0em;
    float: right;
}

/*map*/
#map {
    height: 500px;
    width: 100%;
    top: 3em;
    border-radius: 1em 0em;
}

.map-marker-txts{
    background: #595f53;
    font-size:larger;
    padding:1em;
    color:white;
    border-radius:0.5em 0;
}

.map-marker-txts .person-name{
    font-size:1.6em;
}



/*adding post form*/
.post-form {
    background: rgba(240, 255, 255, 0.74);
    padding: 1em;
    border-radius: 1em 0;
    display: none;
}

.posts-container {
    top: -25em;
    width: 20em;
    margin: 0 auto;
    position: relative;
}

.col-sm-9, .col-md-9{
    height: -webkit-fill-available;
}

/*post div*/
.posts {
     max-height: 26.15em;
     overflow: auto;
}

/* general */

.page-header img {
    margin: 0 auto;
    display: block;
}

.row {
    min-height: 40em;
    background: #00bcd4b3;
    height: 39.7em;
    border-radius: 1.5em 0em;
}

.show{
    display: block;
}
